
#footer_cust{

    padding: 10px;
    
    background: rgb(30, 30, 30);
    
    color: lightgrey;

    margin-top: 20px;
    
    }
    
    #footer_cust a {
    
    color: lightgrey;
    
    font-size: 25px;
    
    }
    
    #footer_cust a:hover {
    
    color: white;
    
    }

    .btn-outline-success-cust {
        color: orange;
        border-color: orange;
      }
      
      .btn-outline-success-cust:hover {
        color: #fff;
        background-color: orange;
        border-color: orange;
      }

      .purple-border textarea {
        border: 1px solid #7b0291;
    }
      .purple-border .form-control:focus {
        border: 1px solid #7b0291;
        box-shadow: 0 0 0 0.2rem rgba(35, 0, 41, 0.25);
    }

    .header-critica-cust{ 
      color: rgb(24, 138, 138);
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
    .titulo-critica-cust{ 
        color: rgb(47, 160, 160);
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    .subtitulo-critica-cust{ 
        color: rgb(57, 70, 70);
    }

    .texto-cust {
        color: rgb(65, 66, 66);
    }
    .heading-cust {
        font-size: 25px;
      }
      .puntaje-cust{
          background-color: honeydew;
          border-radius: 5px;
          border: 2px solid rgb(1, 80, 1);
          opacity: 90%;
          
      }

      div.comentarios {
        background-color: rgb(242, 227, 238);
        height: 250px;
        border-radius: 5px;
        padding: 10px,  10px,  10px,  10px;
        overflow: scroll;
      }

      p.texto-comentario-cust {
          font-family: 'Times New Roman', Times, serif;
          font-style: italic;
        }

        p.titulo-comentario-cust {
            font-family: 'Times New Roman', Times, serif;
            font-style: italic;
            font-size: larger;
          }

      
    .header-entrevista-cust{ 
      color: rgb(123, 39, 220);
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }    

  .subheader-entrevista-cust{ 
    color: rgb(141, 72, 219);
    font-weight: bolder;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}  

.p-entrevista-cust{ 
  color: rgb(17, 10, 26);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}  

.cuadro-entrevistas-cust {
  border: 2px solid mediumpurple;
  border-radius: 5px;
  padding: 8px;
  margin-bottom: 40px;
}

.container-entrevistas-cust {
  border: 2px solid mediumpurple;
  background-color: whitesmoke;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 40px;
}

.cuadrito-entrevistas-cust {
  border: 1px   dotted mediumpurple;
  background-color:lightgray;
  border-radius: 5px;
  padding: 4px;
  margin-bottom: 40px;
}

.contactanos {
  border: 2px solid mediumpurple;
  border-radius: 5px;
  background-color: rgb(163, 137, 214);
  padding: 15px;
  margin-top: 20px;
  color: antiquewhite;
}

.quienesSomos {
  border: 2px solid orangered;
  border-radius: 5px;
  background-color: yellow;
  padding: 10px;
  margin-top: 10px;
  color: orangered;
}

.tituloContactanos {
 font-weight: bold;
 font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; 
}

.titulosPaginas {
  border-radius: 5px;
  border: 2px solid whitesmoke;
  font-family: monospace;
  font-style: italic; 
  background-image: linear-gradient(to right, yellow, orange);
  padding: 20px;
}